h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 500%;
    line-height: 500%;
    border: outset;
    border-width: 5px;
}
h2 {
    background-color: black;
    color: white;
    border: outset;
    border-width: 4px;
}
header {
    text-align: center;
}
nav {
    font-variant: small-caps;
    font-size: 200%;
}
a {
    border: inset;
    border-width: 3px;
}
Body {
    line-height: 150%;
    background-color: grey;
}
details {
    font-style: italic;

}
summary {
    font-style: normal;
}