h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 500%;
    line-height: 500%;
}
h2 {
    background-color: black;
    color: white;
}
header {
    text-align: center;
}
nav {
    font-variant: small-caps;
    font-size: 200%;
}
Body {
    line-height: 150%;
    background-color: grey;
}
details {
    font-style: italic;

}
summary {
    font-style: normal;
}